@import url(reset.css);

h1 {
    color: red;
    background: url(../imagenes/fondo.jpg) no-repeat;
    
    padding-top: 15%;
    font-size: 2em;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 strong {
    color: white;
    
}

p strong {
    color: red;
}

h3 {
    color: red;
}

ul {
    color: white;
}

body {
    background: #0099FF url(../imagenes/fondo_div.png) repeat-x;
    width: 55%;
    margin: 0 auto;
}

main {

    border: 2px solid white;
    margin: 0 auto;
}