@import url(reset.css);

h1 {
    color: red;
    font-size: 2em;
    font-weight: bold;
    margin-top: 8%;
    position: relative;
}

h1 strong {
    color: white;
    font-size: 3em;
}

p strong {
    color: red;
}

h3 {
    color: red;
}

ul {
    color: white;
    float: right;
}

body {
    background: #0099FF url(../imagenes/fondo_div.png) repeat-x;
    width: 55%;
    margin: 0 auto;
}

main {
    background: url(../imagenes/fondo.jpg) center top no-repeat;
    border: 2px solid white;
    margin: 0 auto;
}

p:first-line {
    color: #CCCC99;
}