@import url(reset.css);

main {
    background: url(../imagenes/fondo.jpg) no-repeat;
    background-position: top;
    border: 2px solid white;
    width: 900px;
    margin-left: 15%;
}

body {
    background: #0099FF url(../imagenes/fondo_div.png) repeat-x;
}

h1 {
    color: red;
    font-size: 2em;
    font-weight: bold;
    margin-top: 40px;
}

h1 strong {
    color: white;
    font-size: 3em;
    margin: 0 -80px 0 0;
}

h2 {
    font-size: 1.5em;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid black;
}

h2 + p {
    margin-left: 50px;
    margin-top: 5px;
}

p strong {
    color: red;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: red;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 10px;
}

h3 + p {
    margin: 5px 50px 10px 190px;
    line-height : 25px;
}

p:first-line {
    color: gray;
    font-weight: bold;
}


ul {
    color: white;
    float: right;
    margin: 80px 20px 30px 20px;
}


